{%- liquid
  assign title_start = section.settings.heading_start
  assign title_feature = section.settings.heading_featured
  assign title_end = section.settings.heading_end
  assign sub_text = section.settings.sub_text
  assign desktop_margin_top = section.settings.desktop_margin_top
  assign desktop_margin_bottom = section.settings.desktop_margin_bottom
  assign mobile_margin_top = section.settings.mobile_margin_top
  assign mobile_margin_bottom = section.settings.mobile_margin_bottom
-%}

<style>
      .explore_offering_section{
          margin-top: {{ desktop_margin_top | append: 'px' }};
          margin-bottom: {{ desktop_margin_bottom | append: 'px' }};
      }
      .explore_offering_section .title_section .heading {
          font-size: clamp(26px, 4vw, 40px);
          margin-bottom: 10px;
          line-height: 1.2;
      }
      .explore_offering_section .title_section {
          color: #845ec2;
          text-align: center;
          font-weight: 700;
      }
      .explore_offering_section .title_section p {
        font-size: clamp(16px, 2vw, 17px);
        color: #845ec2;
        font-weight: 600;
        margin-top: 5px;
        text-wrap: balance;
        max-width: 750px;
        margin-inline: auto;
      }
    @media (max-width:768px){
        .explore_offering_section{
            margin-top: {{ mobile_margin_top | append: 'px' }};
            margin-bottom: {{ mobile_margin_bottom | append: 'px' }};
        }
    }
    /*------------------------------------*\
    #ROOT
  \*------------------------------------*/
  :root {
    --ff-primary: 'Rubik', sans-serif;
    --ff-accent: 'Merriweather', serif;
    --clr-primary: #845EC2;
    --delay: 200ms;
    --transition: 300ms ease;
  }
   .card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   }
    .offering_card {
      display: grid;
      font-family: var(--ff-primary);
      width: min(100% - 2rem, 25rem);
      margin-block: 2rem;
      padding-top: 14rem;
      text-decoration: none;
      color: #fff;
      min-height: 35rem;
      border-radius: 1.2em;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      position: relative;
      overflow: hidden;
      isolation: isolate;
    }
    .offering_card::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.9) 60%);
      z-index: -1;
      opacity: 1;
      transform: translateY(70%);
      transition: var(--transition) calc(var(--delay) * 2); /* [1] */
  }
  .offering_card:is(:hover, :focus)::before {
    transition: var(--transition); /* [2] */
    opacity: 1;
    transform: translateY(0%);
  }

  .offering_card:is(:hover, :focus) .card__img {
    transform: scale(1.05);
  }

  .explore_offering_section .card__content {
    display: flex;
    justify-self: end;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    opacity: 1;
    transform: translateY(78%);
    transition: 0ms;
    position: relative;
    transition: var(--transition) var(--delay); /* [3] */
  }

  .explore_offering_section .card__title {
    margin: 0;
    font-size: 1.6rem;
    color: white;
  }

  .offering_card:is(:hover, :focus) .card__content::before {
    transition: var(--transition) calc(var(--delay) * 2); /* [6] */
    scale: 1;
  }

  .explore_offering_section .card__content p{
    color: white;
    margin: 0;
  }

  .card__content::before {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    width: 50%;
    height: 3px;

    background-color: var(--clr-primary);
    scale: 0;
    transform-origin: left;
    transition: var(--transition); /* [5] */
  }

    .offering_card:is(:hover, :focus) .card__content {
      transform: translateY(0%);
      opacity: 1;
      transition: var(--transition) var(--delay); /* [4] */
    }

    .card__img-container {
      position: absolute;
      inset: 0;
      z-index: -5;
    }

    .explore_offering_section .card__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition);
    }

    .offering_mobile_section{
      display: none;
    }
    @media (max-width:992px){
      .offering_desktop_section{
        display: none;
      }
      .offering_mobile_section{
        display: block;
      }
    }
    .offering_swiper_wrapper .swiper-slide{
      height: 100% !important;
    }
    .offering_swiper_wrapper .offering_card {
      width: 100%;
    }
    .offering_mobile_section .offering_swiper_button {

      background: white;
    }
    .offering_mobile_section .offering_swiper_button::after {
      display: none;
    }
    .offering_mobile_section .offering_swiper_button{
      color: #845ec2;
    }
    /* mobile and tablet responsive */
    .offering_mobile_section .offering_card {
        min-height: 20rem;
    }
    .offering_mobile_section  .offering_card .card__content {
        transform: translateY(0%);
        opacity: 1;
    }
    .offering_mobile_section .offering_card::before {
        opacity: 1;
        transform: translateY(0%);
    }
    .offering_mobile_section .offering_card .card__content::before {
      scale: 1;
    }
</style>
<section class="explore_offering_section">
  <div class="container container-{{ section.settings.container }}">
    <div class="title_section">
      <h2 class="heading">
        {{- title_start -}}
        <span class="halfStyled" data-content="{{- title_feature -}}">{{- title_feature -}}</span>{{ title_end }}
      </h2>
      {{ sub_text }}
    </div>
    <div class="card_container offering_desktop_section">
      {% for block in section.blocks %}
        {% liquid
          assign title = block.settings.title
          assign description = block.settings.description
          assign card_image = block.settings.image
        %}
        <div class="offering_card">
          <div class="card__img-container">
            <img class="card__img" src="{{card_image | image_url }}" height="" width="">
          </div>
          <div class="card__content">
            <h3 class="card__title">{{- title -}}</h3>
            {{- description -}}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="offering_mobile_section">
      <div class="swiper offering_swiper">
        <div class="swiper-wrapper offering_swiper_wrapper">
          {% for block in section.blocks %}
            {% liquid
              assign title = block.settings.title
              assign description = block.settings.description
              assign card_image = block.settings.image
            %}
            <div class="swiper-slide">
              <div class="offering_card">
                <div class="card__img-container">
                  <img class="card__img" src="{{card_image | image_url }}" height="" width="">
                </div>
                <div class="card__content">
                  <h3 class="card__title">{{- title -}}</h3>
                  {{- description -}}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <button class="swiper-button-prev offering_swiper_button">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button class="swiper-button-next offering_swiper_button">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>

<script defer>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.offering_swiper', {
      slidesPerView: 1.5,
      freeMode: true,
      spaceBetween: 15,
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
      navigation: {
        nextEl: '.swiper-button-next.offering_swiper_button',
        prevEl: '.swiper-button-prev.offering_swiper_button',
      },
    });
  });
</script>

{% schema %}
{
  "name": "Explore Our Offering",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.layout.container.option",
      "default": "1770",
      "options": [
        {
          "value": "1170",
          "label": "t:sections.layout.container.option4"
        },
        {
          "value": "1370",
          "label": "t:sections.layout.container.option8"
        },
        {
          "value": "1470",
          "label": "t:sections.layout.container.option5"
        },
        {
          "value": "1570",
          "label": "t:sections.layout.container.option6"
        },
        {
          "value": "1770",
          "label": "t:sections.layout.container.option3"
        },
        {
          "value": "full",
          "label": "t:sections.layout.container.option2"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading_start",
      "label": "Title Start",
      "default": "Explore Our Offer"
    },
    {
      "type": "textarea",
      "id": "heading_featured",
      "label": "Title Feature",
      "default": "i"
    },
    {
      "type": "text",
      "id": "heading_end",
      "label": "Title End",
      "default": "ngs"
    },
    {
      "type": "richtext",
      "id": "sub_text",
      "label": "Sub Text",
      "default": "<p>Here are a few areas of expertise we specialize in.</p>"
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "range",
      "id": "desktop_margin_top",
      "label": "Margin Top (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "desktop_margin_bottom",
      "label": "Margin Bottom (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "range",
      "id": "mobile_margin_top",
      "label": "Margin Top (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "label": "Margin Bottom (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "items",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Explore Our Offering",
      "settings": {}
    }
  ]
}
{% endschema %}
