{%- liquid
  assign isEditor = request.design_mode
  assign title_start = section.settings.heading_start
  assign title_feature = section.settings.heading_featured
  assign title_end = section.settings.heading_end
  assign sub_text = section.settings.sub_text
  assign desktop_margin_top = section.settings.desktop_margin_top
  assign desktop_margin_bottom = section.settings.desktop_margin_bottom
  assign mobile_margin_top = section.settings.mobile_margin_top
  assign mobile_margin_bottom = section.settings.mobile_margin_bottom
-%}
<style>
  .work-flow {
    padding: 2% 0 2% 0;
    margin-top: {{ mobile_margin_top | append: 'px' }};
    margin-bottom: {{ mobile_margin_bottom | append: 'px' }};
  }
  div.empty {
    display: block;
  }
  .work-flow h3 {
    text-align: center;
    font-size: clamp(26px, 4vw, 40px);
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }

  .work-flow h3 .featured_title {
    background-color: #845ec2;
    color: white;
    border-radius: 12px;
    padding: 0px 6px;
  }

  .work-flow h3 span {
    color: #845ec2;
  }

  .work-flow .content {
    display: block;
    justify-content: center;
    margin: auto;
  }

  .work-flow .content p {
    font-size: 18px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .work-flow .row {
    --bs-gutter-x: 1.875rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
  }
  .work-flow .row:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .work-flow .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
  }

  .work-flow .number {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    background: #845ec2;
    height: 48px;
    width: 48px !important;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 0;
    padding: 0;
    margin: 0;
  }

  .work-flow .content {
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  .work-flow .content {
    display: block;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.7143;
    position: relative;
    margin: auto;
    overflow: hidden;
  }

  .work-flow .content h4 {
    font-size: 24px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin: 0;
    margin-bottom: 10px;
  }

  .work-flow .content p {
    font-size: 18px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
  }

  .work-flow .img-box img {
    max-width: 100%;
    vertical-align: middle;
  }

  /* RESPONSIVE SECTION  */

  @media screen and (max-width: 576px) {
    .work-flow .row {
      --bs-gutter-x: 1rem;
    }
  }
  @media screen and (max-width: 600px) {
    .work-flow h3 {
      text-align: center;
      font-size: 33px;
    }
    .work-flow .content h4 {
      font-size: 18px;
    }

    .work-flow .number {
      display: none;
    }
  }
  @media screen and (min-width: 769px) {
    .work-flow{
      margin-top: {{ desktop_margin_top | append: 'px' }};
      margin-bottom: {{ desktop_margin_bottom | append: 'px' }};
    }
    .work-flow .empty {
      flex: 0 0 auto;
      width: 8.3333333333%;
    }
    .work-flow .content {
      flex: 0 0 auto;
      width: 41.6666666667%;
    }
    .work-flow .img-box {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
    .work-flow .number {
      flex: 0 0 auto;
      width: 8.33333%;
    }
  }
  @media screen and (max-width: 769px) {
    .work-flow .number {
      display: none;
    }
    .work-flow .img-box img {
      margin: auto;
    }
    .work-flow #insta {
      order: 2;
    }
    .work-flow #insta-img {
      order: 1;
    }
    .work-flow #create-goals {
      order: 2;
    }
    .work-flow #create-goals img {
      order: 1;
    }
    .work-flow #design {
      order: 2;
    }
    .work-flow #designimg {
      order: 1;
    }
    .work-flow #track {
      order: 2;
    }
    .work-flow #trackimg {
      order: 1;
    }
    .work-flow .content p {
      font-size: 14px;
      text-align: center;
      margin: auto 1rem;
    }
    .work-flow .content h4 {
      text-align: center;
    }
  }
</style>
<section class="work-flow">
  <div class="container container-{{ section.settings.container }}">
    <h3>
      {{- title_start -}}
      <span class="featured_title">{{- title_feature -}}</span>
      <span>{{- title_end -}}</span>
    </h3>
    {% for block in section.blocks %}
      {% liquid
        assign title = block.settings.title
        assign description = block.settings.description
        assign image = block.settings.image
      %}
      <div
        class="row"
        {% unless isEditor %}
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="3600"
          data-aos-offset="100"
        {% endunless %}
      >
        <div class="empty"></div>
        <div class="number">{{- forloop.index -}}</div>
        <div class="content" id="insta">
          <h4>{{- title -}}</h4>
          {{- description -}}
        </div>
        <div class="img-box" id="insta-img">
          <img src="{{image | image_url }}" alt="" width="" height="">
        </div>
        <div class="empty"></div>
      </div>
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Work Flow Section",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.layout.container.option",
      "default": "1770",
      "options": [
        {
          "value": "1170",
          "label": "t:sections.layout.container.option4"
        },
        {
          "value": "1370",
          "label": "t:sections.layout.container.option8"
        },
        {
          "value": "1470",
          "label": "t:sections.layout.container.option5"
        },
        {
          "value": "1570",
          "label": "t:sections.layout.container.option6"
        },
        {
          "value": "1770",
          "label": "t:sections.layout.container.option3"
        },
        {
          "value": "full",
          "label": "t:sections.layout.container.option2"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "heading_start",
      "label": "Title Start",
      "default": "Our&nbsp;"
    },
    {
      "type": "textarea",
      "id": "heading_featured",
      "label": "Title Feature",
      "default": "Work"
    },
    {
      "type": "textarea",
      "id": "heading_end",
      "label": "Title End",
      "default": "Flow"
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "range",
      "id": "desktop_margin_top",
      "label": "Margin Top (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "desktop_margin_bottom",
      "label": "Margin Bottom (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "range",
      "id": "mobile_margin_top",
      "label": "Margin Top (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "label": "Margin Bottom (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "Feature",
      "type": "feature",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Work Flow Section",
      "settings": {}
    }
  ]
}
{% endschema %}
