{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency | strip_html -%}
    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_font_1_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_font_1_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_font_1_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_font_2_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_font_1_font.family }}, {{ settings.type_font_1_font.fallback_families }};
        --font-body-style: {{ settings.type_font_1_font.style }};
        --font-body-weight: {{ settings.type_font_1_font.weight }};
        
        --font-heading-family: {{ settings.type_font_2_font.family | append: ',' | append: settings.type_font_2_font.fallback_families }};
        --font-heading-style: {{ settings.type_font_2_font.style }};
        --font-heading-weight: {{ settings.type_font_2_font.weight }};

        --color-text: {{ settings.colors_text }}; --color-text2: {{ settings.colors_text2 }}; --color-global: {{ settings.colors_global }}; --color-white: {{ settings.colors_text_white }}; --color-grey: {{ settings.colors_text_grey }}; --color-black: {{ settings.colors_text_black }}; --color-base-text-rgb: {{ settings.colors_text | color_to_rgb | remove: 'rgb(' | remove: ')' }}; --color-base-text2-rgb: {{ settings.colors_text2 | color_to_rgb | remove: 'rgb(' | remove: ')' }}; --color-background: {% if settings.colors_bg_gradient != blank %}{{ settings.colors_bg_gradient }}{% else %}{{ settings.colors_bg }}{% endif %}; --color-background-rgb: {{ settings.colors_bg | color_to_rgb | remove: 'rgb(' | remove: ')' }}; --color-background-overylay: {{ settings.colors_bg | color_modify: 'alpha', 0.9 }}; --color-base-accent-text: {{ settings.colors_solid_button_labels }}; --color-base-accent-1: {{ settings.colors_accent_1 }}; --color-base-accent-2: {{ settings.colors_accent_2 }}; --color-link: {{ settings.colors_link }}; --color-link-hover: {{ settings.colors_link_hover }}; --color-error: {{ settings.colors_error }}; --color-error-bg: {{ settings.colors_error_bg }}; --color-success: {{ settings.colors_success }}; --color-success-bg: {{ settings.colors_success_bg }}; --color-info: {{ settings.colors_info }}; --color-info-bg: {{ settings.colors_info_bg }}; --color-link-underline: {{ settings.colors_link | color_modify: 'alpha', 0.5 }}; --color-breadcrumb: {{ settings.colors_breadcrumb }}; --colors-breadcrumb-hover: {{ settings.colors_breadcrumb_hover }};--colors-breadcrumb-active: {{ settings.colors_breadcrumb_active }}; --border-global: {{ settings.border_global }}; --bg-global: {{ settings.bg_global }}; --bg-planceholder: {{ settings.colors_bg_placeholder }}; --color-warning: {{ settings.colors_warning }}; --bg-warning: {{ settings.colors_bg_warning }}; --color-background-10 : {{ settings.colors_text | color_mix: settings.colors_bg, 10 }}; --color-background-20 : {{ settings.colors_text | color_mix: settings.colors_bg, 20 }}; --color-background-30 : {{ settings.colors_text | color_mix: settings.colors_bg, 30 }}; --color-background-50 : {{ settings.colors_text | color_mix: settings.colors_bg, 50 }}; --color-background-global : {{ settings.colors_global | color_mix: settings.colors_bg, 50 }};

        --btn-1-color: {{ settings.btn_1_color }};--btn-1-bg: {% if settings.btn_1_bg_gradient != blank %}{{ settings.btn_1_bg_gradient }}{% else %}{{ settings.btn_1_bg }}{% endif %};--btn-1-border: {{ settings.btn_1_border }};--btn-1-color-hover: {{ settings.btn_1_color_hover }};--btn-1-bg-hover: {% if settings.btn_1_bg_gradient != blank %}{{ settings.btn_1_bg_hover_gradient }}{% else %}{{ settings.btn_1_bg_hover }}{% endif %};--btn-1-border-hover: {{ settings.btn_1_border_hover }};
        --btn-2-color: {{ settings.btn_2_color }};--btn-2-bg: {% if settings.btn_2_bg_gradient != blank %}{{ settings.btn_2_bg_gradient }}{% else %}{{ settings.btn_2_bg }}{% endif %};--btn-2-border: {{ settings.btn_2_border }};--btn-2-color-hover: {{ settings.btn_2_color_hover }};--btn-2-bg-hover: {% if settings.btn_2_bg_gradient != blank %}{{ settings.btn_2_bg_hover_gradient }}{% else %}{{ settings.btn_2_bg_hover }}{% endif %};--btn-2-border-hover: {{ settings.btn_2_border_hover }};
        --btn-3-color: {{ settings.btn_3_color }};--btn-3-bg: {% if settings.btn_3_bg_gradient != blank %}{{ settings.btn_3_bg_gradient }}{% else %}{{ settings.btn_3_bg }}{% endif %};--btn-3-border: {{ settings.btn_3_border }};--btn-3-color-hover: {{ settings.btn_3_color_hover }};--btn-3-bg-hover: {% if settings.btn_3_bg_gradient != blank %}{{ settings.btn_3_bg_hover_gradient }}{% else %}{{ settings.btn_3_bg_hover }}{% endif %};--btn-3-border-hover: {{ settings.btn_3_border_hover }};
        --anchor-transition: all ease .3s;--bg-white: #ffffff;--bg-black: #000000;--bg-grey: #808080;--icon: var(--color-text);--text-cart: #3c3c3c;--duration-short: 100ms;--duration-default: 350ms;--duration-long: 500ms;--form-input-bg: #ffffff;--form-input-border: #c7c7c7;--form-input-color: {{ settings.colors_text }};--form-input-placeholder: {{ settings.colors_text_grey }};--form-label: {{ settings.colors_text }};
      }
    {% endstyle %}

      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      <link rel="preload" as="font" href="{{ settings.type_font_2_font | font_url }}" type="font/woff2" crossorigin>

    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <header class="gift-card__title">
      <span class="h2">{{ shop.name }}</span>
      <h1 class="gift-card__heading">{{ 'gift_cards.issued.subtext' | t }}</h1>
      <div class="gift-card__price">
        <p>{{ gift_card.initial_value | money }}</p>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="gift-card__label badge badge--{{ settings.sold_out_badge_color_scheme }}">{{ 'gift_cards.issued.expired' | t }}</p>
        {%- endif -%}
      </div>

      {%- assign gift_card_balance = gift_card.balance | money -%}
      {%- if gift_card.balance != gift_card.initial_value -%}
        <p class="gift-card__label caption-large">{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}</p>
      {%- endif -%}
    </header>
  
    <main class="gift-card">
      <div class="gift-card__image-wrapper">
        <img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="" class="gift-card__image" height="{{ 570 | divided_by: 1.5 }}" width="570">
      </div>
      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      <div class="gift-card__information">
        <input
          type="text"
          class="gift-card__number"
          value="{{ gift_card.code | format_code }}"
          aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
          readonly
        >
        <div class="gift-card__copy-code">
          <button class="link gift-card__copy-link">{{ 'gift_cards.issued.copy_code' | t }}</button>
          <span class="gift-card__copy-success form__message" role="status"></span>
          <template>
            {%- render 'icon-success' -%}{{ 'gift_cards.issued.copy_code_success' | t }}
          </template>
        </div>
        {%- if gift_card.pass_url -%}
          <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
            <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
          </a>
        {%- endif -%}
        <div class="gift-card__buttons no-print">
          <a
            href="{{ shop.url }}"
            class="button button-1"
            target="_blank"
            rel="noopener"
            aria-describedby="a11y-new-window-message"
          >
            {{ 'gift_cards.issued.shop_link' | t }}
          </a>
          <button
            class="button button-2"
            onclick="window.print();"
          >
            {{ 'gift_cards.issued.print_gift_card' | t }}
          </button>
        </div>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });

  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);

  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-link')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>